<footer class="mt-4 mb-4">
    <div class="container">
        <div class="row">
            <nav class="col-md-8">
                <p>
                    <a href="">Home</a>
                    <a href="#resources">Recursos</a>
                    <a href="#benefits">Benefícios</a>
                    <a href="#prices">Preços</a>
                </p>
            </nav>
            <div class="col-md-4 d-flex justify-content-end">
                <a href="" class="btn btn-outline-dark">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="" class="btn btn-outline-dark ml-2">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="btn btn-outline-dark ml-2">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="btn btn-outline-dark ml-2">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</footer>